<!doctype html>
<html lang="en-US" class="">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Home page</title>

	<link  href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<link  href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}" rel="stylesheet">

	<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>

</head>
<body>
	<div class="wrapper">
		My simple website
	</div>
</body>
</html>
